@model OnlineShopping.Domain.ViewModels.Product.ProductViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<p>@Model.Name</p>
<p>@Model.Description</p>
<p>@Model.Price</p>
<p>@Model.CategoryId</p>
